/* custom CSS styles */




/* header */

body{
	background-color: #504a48;}

.wrapper{
	margin : 0 auto;
	max-width : 980px;
	width : 98%;
	background : #bebfbf;
}

header h2 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	padding-top: .4em;
}
h1, h2, h3, h4, h5, h6 {
	color: #a10b0e;
	font-family: 'Alegreya Sans', sans-serif;
}


/* articles */

article {
	padding-bottom: 2em;
}
article .left {
	padding: 0 1em 1em 0;
}
article .right {
	padding: 0 0 1em 1em;
}


/* Nav and links*/


.topspace {
	padding-top: 3em;
}
.topspace p {
	font-size: 0.8em;
	color: #999;
	font-family: Georgia, serif;
	font-style: italic;
}

.top-bar-section li a:not(.button):hover {
    background: #a10b0e !important;   
}

.top-bar-section ul li.active > a {
    background: #a10b0e !important;   
}


.active {
	background-color: #a10b0e;
}	

footer {
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}
footer p {
	font-size: 0.8em;
}


/* media queries*/	

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
body {
	font-size: 13px;
}
#social	{
	display: none;
	width:75% ;
}
}


@media screen and (max-width: 740px) 	{
.left-col {
	width: 100%;
	background: #c94713;
}
.sidebar {
	width: 100%;
	background:  #a10b0e;
}
nav, footer {
	background:  #a10b0e;
}
}	


@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 1026px;
    margin: 0 auto;
}

  .title {
    font-size: 2em;
}

  nav a {
    padding: 024.3664717% 1%;
}
}